/* sidebar toggle button */
.sidebar-checkbox {
  display: none;
  /* Hidden checkbox for toggling */
}

.sidebar-checkbox:checked~.sidebar-container .sidebar {
  transform: translateX(0);
}

.sidebar-checkbox:checked~.sidebar-container {
  /* opacity: 1; */
  visibility: visible;
}



/* Sidebar toggle button */
.sidebar-toggle-button {
  position: fixed;
  top: 16px;
  left: 10px;
  background-color: var(--color-primary);
  color: var(--color-bg-dark);
  padding: 10px 14px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1002;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-toggle-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(215, 252, 112, 0.4);
}