.top-container{
	display: flex;
	align-items: center;
    /* justify-content: center; */
    padding: 0 30px;
}

.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}

.user-info{
    margin:2rem 0 2rem 1rem;
}