
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.7rem;
    --h3-font-size: 1.3rem;
    --normal-font-size: 1.2rem;
    --smaller-font-size: 1.2rem;
}

.card__name p{
    font-size: medium;
}
.card__name{
    height: 80px;
}

.description p{
    padding: 10px;
    overflow-wrap: break-word;
}

.product-card{
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    overflow: hidden;
    width:300px;
    margin: 5px;
    /* flex-grow: 1; */
}

.card__img img{
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}
.card__precis a{
    text-decoration: none;
}

.card__img{
    /* width: 260px; */
    height: auto;
    padding: 30px 0;
}


.card__icon{
    font-size: 15px;
    color: var(--dark-color);
    cursor: pointer;
}
.card__icon .cart:hover{
    color: var(--accent-color);
}
.card__icon .heart:hover{
    color: var(--accent-color);
}

.heart-checkbox:checked ~ .card__icon .heart{
    animation: pulse 0.3s ease-in-out;
    color:var(--accent-color);
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}


.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: 12px;
    color: var(--accent-color);
    margin-bottom: 2.5px;
}
.card__preci--now{
    font-size: 13px;
    font-weight: bold;
}

.product-card:hover{
    box-shadow: 0 5px 10px #8a755d;
}