.empty-cart-card h1 {
    color: #b04b4b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 10px;
  }

  .empty-cart-container{
    display: flex;
    justify-content: center;
  }

  .empty-cart-card .icon{
      color: #bc6666;
      line-height: 200px;
    /* margin-left:-15px; */
  }
  .empty-cart-card {
    text-align: center;
    /* background: white; */
    padding: 60px 0;
    display: inline-block;
    margin: 0 auto;
    width: 400px;
  }

  .empty-cart-circle{
    border-radius:400px; 
    height:150px; 
    width:150px; 
    background: #faf5f5; 
    display: flex;
    margin:0 auto;
    justify-content: center;
}