.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prodcuts-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlist-title{
    padding-left: 2px;
    margin-left: 20px;
    font-weight: 100;
    border-left: 2px solid #9C83F9;
}