.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    width: 100%;
    justify-items: center;
}

.wishlist-title {
    padding-left: 2px;
    margin-left: 20px;
    font-weight: 100;
    border-left: 2px solid #9C83F9;
}