.navbar{
    background-color: #9C83F9;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); 
    z-index: 100;
    display: flex;
    flex-direction: row;
    position:fixed;
    width: 100vw;
    justify-content: space-between;
    height: 70px;
}

.navbar .logo{
    padding-left: 7rem;
    display: flex;
    cursor: pointer;
}

.navbar .logo img{
    height: 7rem;
    align-self: center;
}

.navbar .logo h1{
    display: none;
}

.navbar .profile{
    padding-right: 10px;
    display: flex;
}

.navbar .profile img{
    height: 4rem;
    align-self: center;
}

.navbar .profile .cart-icon{
    margin: auto 0;
    width: 35px;
    /* background-color: #101357; */
    color: #101357;
    padding: 7px 4px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.navbar .profile .cart-icon:hover{
    filter: brightness(70%);
    transform: scale(1.2);
}

.navbar .profile .cart-icon .cart-item-count{
    position: absolute;
    top:50%;
    left: 60%;
    color: #101357;
    font-weight:bolder;
    font-size:small;
    background-color: white;
    border-radius: 50%;
    padding:0 5.5px;
}