.sidebar-container{
    display:flex;
    flex-direction: column;
    /* z-index: 0; */
    z-index: 10;
    height: 100%;
    width: 100%;
    /* opacity: 0; */
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    overflow: hidden;
    position:fixed;
}

.sidebar-container .sidebar{
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    background-color:  #FFFFFF;
    padding-top: 70px;
    border-bottom: #D3D3D3 solid 2px;
    width: 260px;
    height: 100%;
}

.sidebar-container .sidebar .unordered-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.sidebar-container .sidebar .unordered-list .list-item a{
    display: block;
    padding: 20px 30px;
    text-align: start;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

.sidebar-container .sidebar .unordered-list .list-item a:hover{
    background:#E2DFD2;
    color:black;
}

.list-item div{
    padding: 20px 30px;
}
.list-item div:hover{
    opacity: 0.8;
}
.logout-button{
    background-color: black;
    color:white;
    box-shadow: 0;
    font-weight: bold;
    border-radius: 0;
    border-style: none;
    font-size:medium;
    padding: 7px;
}