.register-container{
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%)
}
.register-form{
    display: flex;
    flex-direction: column;
    width:260px;
}
.register-form input{
    margin: 7px 0 7px 0;
    height: 30px;
    padding: 5px;
    border:none;
    border-bottom: 1px solid black;
}

.register-form input:focus{
    outline: none;
}

.register-form button{
    margin: 7px 0 7px 0;
    height: 30px;
    padding: 5px;
    color:white;
    box-shadow: 0;
    font-weight: bold;
    border-radius: 0;
    border-style: none;
    background-color: black;
}

.register-form button:hover{
    opacity: 0.85;
}