body,html{
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  background-color:  #e4decd;
  display: flex;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */

.open-sans-body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@media screen and (max-width:550px){
   html{
      font-size: 8px;
   }
}

@media screen and (max-width:380px){
  html{
    font-size: 7px;
  }
}
@media screen and (max-width:330px){
  html{
    font-size: 6px;
  }
  body{
    flex-shrink: 0;
  }
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
