:root {
  overscroll-behavior: none;
  --color-primary: #D7FC70;
  --color-bg-dark: #050505;
  --color-bg-card: #121212;
  --color-text-main: #FFFFFF;
  --color-text-muted: #B0B0B0;
  --color-success: #29AE29;
  --color-warning: #FFC62A;
  --color-error: #EF4444;

  --font-heading: 'Sora', sans-serif;
  --font-body: 'Inter', sans-serif;

  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text-main);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Header Height Calculation:
     Desktop: 48px (content) + 48px (padding 1.5rem*2 @16px) + 1px (border) = 97px
     Mobile: 40px (content) + 42px (padding 1.5rem*2 @14px) + 1px (border) = 83px
  */
  --header-height: 97px;
  --sidebar-width: 80px;
}

@media screen and (max-width: 768px) {
  :root {
    --header-height: 83px;
  }
}