
.login-register-bar-container{
    display: flex;
    /* justify-content: center; */
    padding: 0 30px;
    align-items: center;
    height: 50px;
}

.login-register-bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width:160px;
    justify-content: space-between;
}

.bar-btn-size{
    font-size:medium;
    padding: 7px;
}

.bar-btn-style{
    color:white;
    box-shadow: 0;
    font-weight: bold;
    border-radius: 0;
    border-style: none;
    cursor: pointer;
}

.bar-btn-style:hover{
    filter: brightness(70%);
}

